<div class=''>
  <h1>{{course.name}}</h1>
  <iframe
    width='560'
    height='315'
    src='https://www.youtube.com/embed/{{course.videoId}}?si=46lkjCe1_FqHAMQN'
    title='YouTube video player'
    frameborder='0'
    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
    allowfullscreen
  >
  </iframe>
  <p>{{course.description}}</p>
</div>